.main-colo{
    background: linear-gradient( 90deg, #00C1FE 19.39%, #FAFFC1 96.69%);
}
.form-main{
    border-radius: 30px;
    max-width: 375px;
}
.clm3{
    min-width: fit-content; 
    max-width: 270px;
    background-color :#FAFFC1;
}